%header
  %nav
    %a
    %a{:href => URL_BASE+'/logout'}
      logout
  %h1
    = TITLE
#messages
  %nav
    &lt;&lt;
    %a{:href => URL_BASE+"/archives/#{(@date-60*60*24).strftime("%Y-%m-%d")}"}前の日
    =" | "
    %a{:href => URL_BASE+"/"}トップ
    =" | "
    %a{:href => URL_BASE+"/archives/#{(@date+60*60*24).strftime("%Y-%m-%d")}"}次の日
    &gt;&gt;
  -@messages.each do |a|
    %div.message{:id=>"message_#{a.id}"}
      .name
        = h a.name
      .content
        = auto_link a.content.to_s
      .favs
        %div.favStars{:id=>"favStars_#{a.id}"}
          = '★' * a.favs 
          &nbsp;
        %div.favNum{:id=>"favNum_#{a.id}"}
          = h a.favs.to_s
        %button.addFav{:id=>"addFav_#{a.id}"} ★+
      .time
        = h a.created.to_s
#screen
  .screenContent{:id=>'screenLogin'}
    %h2{:id=>'screenTitle'}
      ログイン
    %form{:id=>'loginForm'}
      %label{:for=>'screenNameInput'}
        名前を入力してください
      %input{:type=>'text',:name=>'screenNameInput',:id=>'screenNameInput'}
      %input{:type=>'submit',:id=>'screenLoginButton'} Login
    .screenMessage
%script
  - default_data = {:logged_in=>(@logged_in?true : false),:user=>(@logged_in?h(@name):nil),:loaded=>@loaded,:controlls=>false}.to_json
  = "var default_data=#{default_data};"
